@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
body{
    font-family: 'Bai Jamjuree', sans-serif;
}
header{
    background-image: url("../images/bg-header-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
}
footer{
    background-color: #f5f6f8;
}
.footer-text-color{
    color: #212529;
}
.button-ios{
    text-decoration: none;
    color: white;
    background-color: hsl(171, 66%, 44%);
    padding: 15px 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.button-mac{
    text-decoration: none;
    color: white;
    background-color: hsl(233, 100%, 69%);
    padding: 15px 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    
}
.header-text{
    margin: 0px 200px;
}


/* 
=============
Responsive
=============
 */

/* mobile section */
@media only screen and (max-width:688px) {
    header{
        background-image: url(../images/bg-header-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .header-text{
        margin: 0px;
    }
}

